@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

html, body{
    height: 100%;
    width: 100%;
    font-family: 'Audiowide', sans-serif;
}

.button{
    width: 60px;
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Audiowide', sans-serif;
    
}

.row{
    margin: 6px 0;
}

.row input{
    margin: 0;
    width: 200px;
    padding: 10px 38px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Audiowide', sans-serif;
}